h1{
    text-align:center;
}
body{
    text-align:center;

}

#acla{
    padding-bottom: 200px ;
}
#envelope1:hover{
    transform:scale(1.1);
}
#envelope2:hover{
    transform:scale(1.1);
}
#envelope3:hover{
    transform:scale(1.1);
}
#envelope4:hover{
    transform:scale(1.1);
}
#imgtoobig{
    width:700px;
}
.im{
    padding-bottom: 100px;
}
.inv{
    color:Gold;
    padding-bottom: 10px;
}
.text{
    font-family:'Pattaya';
    color:silver;
}
